<!-- Start Footer Section -->
<footer>
    <div class="container" style="padding-bottom: 52px;">
        <div class="row footer-widgets iwriter-footer">

            <div class="col-md-4 footer-1-col">
                <h3><img src="images/home-page/logo-footer.png"></h3>
                <p>iWriter is the fastest, easiest and most reliable way to have content written for your website. You'll be able to post a project and 1000s of freelance writers from across the globe will have instant access to write your content quickly, professionally, and affordably.</p>
                <div class="footer-widget social-widget">

                    <ul class="social-icons">
                        <li>
                            <a class="facebook" href="#"><i class="fa fa-facebook"></i></a>
                        </li>
                        <li>
                            <a class="twitter" href="#"><i class="fa fa-twitter"></i></a>
                        </li>

                    </ul>
                </div>
            </div>

            <div class="col-md-4 footer-2-col navigation-container">
                <h3>Navigation</h3>
                <ul>
                    <li>
                        <a href="javascript:void(0)">Home</a>
                    </li>
                    <li>
                        <a href="javascript:void(0)">Pricing</a>
                    </li>
                    <li>
                        <a href="https://www.iwriter.com/signup.php?req">Order Content</a>
                    </li>
                    <li>
                        <a href="javascript:void(0)">Write Content</a>
                    </li>
                    <li>
                        <a href="javascript:void(0)">Blog</a>
                    </li>
                    <li>
                        <a href="javascript:void(0)">FAQ</a>
                    </li>
                </ul>
            </div>

            <div class="col-md-4 footer-3-col">
                <h3>Office Hours</h3>
                <p>Monday-Friday 9am-5pm ET</p>

                <h3 style="margin-top: 49px;">Email</h3>
                <p>help@iwriter.com</p>
            </div>


        </div>
        <!-- .row -->

    </div>
    <div class="container-fluid">
        <div class="row">
            <!-- Start Copyright -->
            <div class="copyright-section">

                <div class="col-md-12 privacy-policy-block">
                    <div>
                        <a href="javascript:void(0)">Privacy Policy</a>
                        <span> | </span>
                        <a href="javascript:void(0)">Terms Of Use</a>
                    </div>
                    <div>
                        Copyright Bryxen, Inc. 2016 All Rights Reserved.
                    </div>
                </div>

                <!-- .row -->
            </div>
            <!-- End Copyright -->
        </div>
    </div>
</footer>
<!-- End Footer Section -->