<!-- Start Header Section -->
<header class="clearfix">

    <!-- Start  Logo & Naviagtion  -->
    <div class="navbar navbar-default navbar-top">
        <div class="container">
            <div class="navbar-header">
                <!-- Stat Toggle Nav Link For Mobiles -->
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <i class="fa fa-bars"></i>
                </button>
                <!-- End Toggle Nav Link For Mobiles -->
                <a class="navbar-brand" href="/#/">
                    <img alt="" src="images/iwriter-header-logo.png">
                </a>
            </div>
            <div class="navbar-collapse collapse">
                <!-- Start Navigation List -->
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href="#">Pricing</a>
                    </li>
                    <li>
                        <a href="#">Order Content</a>
                    </li>
                    <li>
                        <a href="#">Write Content</a>
                    </li>
                    <li>
                        <a href="#">Blog</a>
                    </li>
                    <li>
                        <a href="#">Contact Us</a>
                    </li>
                    <li class="login-link">
                        <a href="#/login">Login</a>
                    </li>
                </ul>
                <!-- End Navigation List -->
            </div>
        </div>

        <!-- Mobile Menu Start -->
        <ul class="wpb-mobile-menu">
            <li>
                <a href="#">Home</a>
            </li>
            <li>
                <a href="#">Pricing</a>
            </li>
            <li>
                <a href="#">Order Content</a>
            </li>
            <li>
                <a href="#">Write Content</a>
            </li>
            <li>
                <a href="#">Blog</a>
            </li>
            <li>
                <a href="#">Contact Us</a>
            </li>
            <li class="login-link">
                <a href="#/login">Login</a>
            </li>
        </ul>
        <!-- Mobile Menu End -->

    </div>
    <!-- End Header Logo & Naviagtion -->

</header>
<!-- End Header Section -->