<!-- Start Page Banner -->
<div class="page-banner no-subtitle login-banner">
    <div class="container">
        <div class="row">
            <div class="col-md-12 headline-section">
                <h2><span class="headline-h2-bordering">Login</span></h2>
                <h3>Enter Your Login Information</h3>
            </div>
        </div>
    </div>
</div>
<!-- END Page Banner -->

<div class="login-section">
    <div class="container">

        <!-- Start Form -->
        <form class="register-request-form login-form">
            <div class="row">
                <div class="col-md-12">
                    <input type="text" class="fl-name-input text-input" placeholder="Username" ng-model="username" >
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <input type="password" class="pass-input text-input" placeholder="Password" ng-model="passw">
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 remember-me">
                    <p><label><input type="checkbox"> Remember me</label></p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12" style="text-align: center">
                    <button class="login-btn" ng-click="login()">LOGIN</button>
                </div>
            </div>
        </form>

        <div class="row">
            <p class="forgot-password-p">Forgot Your Password? <a href="#">Click Here</a></p>
        </div>
        <!-- END Form -->

    </div>
</div>